<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

    <div id="main-container">
        <div th:replace="~{fragments :: menu}"></div>
        <div id="main-text">
            <p>Edit your account</p>
            <form action="#" th:action="@{/edit-user}" th:object="${user}" method="post">

                <label>First name: <input type="text" th:field="*{firstName}" /></label>
                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

                <label>Last name: <input type="text" th:field="*{lastName}" /></label>
                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

                <label>E-mail: <input type="text" th:field="*{email}" /></label>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <div th:if="${duplicatedEmail != null}" th:text="${duplicatedEmail}" class="error"></div>

                <label>Date of birth: <input type="date" th:field="*{dob}" /></label>
                <div class="error" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>

                <label>Gender:
                    <select th:field="*{gender}">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </label>
                <input class="submit-button" type="submit" value="Update" />
            </form>
        </div>
        <div th:replace="~{fragments :: some-info}"></div>
    </div>
</body>
</html>
