<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="header-container" th:fragment="header">
        <a href="/" id="header-logo">Spring MVC Demo</a>
        <div class="header-register" sec:authorize="!isAuthenticated()">
            <div class="header-button">
                <a href="/login">Log in</a>
            </div>
            <div class="header-button">
                <a href="/register">Register</a>
            </div>
        </div>
        <div class="header-register" sec:authorize="isAuthenticated()">
            <div class="header-button">
                <a href="/user-info" sec:authentication="name"></a>
            </div>
            <div class="header-button">
                <a href="/logout">Log out</a>
            </div>
        </div>
    </div>
    <div class="main-menu" th:fragment="menu">
        <p>Menu</p>
        <ul>
            <li>
                <a href="/">Main</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/user-info">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/admin">Admin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/change-passwd">Change password</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="main-menu" th:fragment="some-info">
        <p>Some info</p>
    </div>
</body>
</html>