<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <div id="main-container">
        <div th:replace="~{fragments :: menu}"></div>
        <div id="main-text">
            <p>Register a new account</p>
            <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <label>First name: <input type="text" th:field="${user.firstName}" /></label>
                <label>Last name: <input type="text" th:field="${user.lastName}" /></label>
                <label>E-mail: <input type="text" th:field="${user.email}" /></label>
                <label>Password: <input type="password" th:field="${user.password}" /></label>
                <label>Gender:
                    <select th:field="${user.gender}">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </label>
                <!--<label>Date of birth: <input type="date" th:field="${user.dob}" /></label>-->
                <input class="submit-button" type="submit" value="Submit" />
            </form>
        </div>
        <div th:replace="~{fragments :: some-info}"></div>
    </div>
</body>
</html>
